.git
.gitignore
.venv
venv
__pycache__
*.py[cod]
*.sqlite3
.pytest_cache
.mypy_cache
.ruff_cache
.env
.env.*
.advanced_settings.json
.device_pref
.engine_pref
.model_pref*
models
data
cache
readmeimgs
